<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/pic1.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <img class='potrait' src="/img/3095.jpg">
        </div>
        {{>footer}}
    </body>
</html>